@import url('https://fonts.googleapis.com/css?family=Nova+Square|Anonymous+Pro')

// Typography Styles
body
  font-family: 'Anonymous Pro'

h1, h2, h3, h4, h5, h6
  font-family: 'Nova Square'
  text-transform: uppercase
  letter-spacing: .15em
  line-height: 1.25
  span
    color: #fd1e00

// Elements
img.icon
  width: 64px
  margin-bottom: 20px

img.icon-mini
  width: 40px
  margin-bottom: 10px

.logo
  width: 106px
  padding-bottom: 40px
  
.fullheight
  min-height: 250px
  @media screen and (min-width: 900px)
    min-height: 100vh

// Sections
section
  background-color: #000

#cover
  background-color: #000
  color: #fff
  padding-top: 120px
  h1
    margin-bottom: 20px
  p
    color: #666
    font-weight: 300

#moon
  background-color: #000
  background-image: url(../images/moon.jpg)
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  padding: 250px 0 100px
  margin-top: -40px
  aside
    margin-top: 50px
    h2
      font-size: 36px
      margin-bottom: 20px

#story
  background-color: #fff
  padding: 140px 0
  h2
    margin-bottom: 20px
  .lead
    font-size: 1.5em
    opacity: .4

#switcher
  aside
    @media screen and (min-width: 900px)
      padding-top: 80px
    padding-left: 10px
    padding-right: 10px
    a[data-key]
      cursor: pointer
      opacity: .3
      display: block
      margin: 30px 0
      text-align: center
      transition: all ease 0.25s
      color: #fff !important
      &.active
        opacity: 1
      &:hover
        text-decoration: none

  figure
    margin: 0
    background-position: center center
    background-size: cover
    transition: all ease 0.5s

  main
    color: #fff
    article
      padding: 40px 0
      @media screen and (min-width: 900px)
        padding: 80px 40px
      h3
        color: #fd1e00


#features
  background-color: #fff
  padding: 100px 0
  .col-6
    margin-top: 15px
    margin-bottom: 15px
