doctype
html(lang="en")
  head
    meta(charset="utf-8")
    title A N U I Z O T L
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    link(href='favicon.png', rel='icon')
    <meta name="viewport" content="width=device-width, initial-scale=1">
  body

    // Cover
    section#cover: .container
      .row
        .col-12.col-md-4
          img.logo(src="images/logo.png" alt="Anuizotl")
          h1.head <span>Sollicitudin</span> volutpat magna
          p Aenean quam elit, tempor et sollicitudin at, dignissim a quam. Cras sodales ut nulla nec efficitur. Integer volutpat magna a urna porttitor elementum. Proin scelerisque nulla in orci luctus scelerisque.
    
    // Moon
    section#moon: .container
      h2 <span>Fusce</span><br> ligula in diam
      main.row: .col-12.col-md-6
        p Donec dictum enim eget nunc sodales, ut cursus sapien tristique. Etiam bibendum lorem sed mi posuere, quis malesuada odio tincidunt.
      
      .row
        aside.col-12.col-md-6
          img.icon(src="images/werewolf.svg" alt="Maps")
          h5 Lorem Ipsum
          p Fusce tincidunt ligula in diam elementum, id sodales urna posuere. Curabitur efficitur turpis quis nisi elementum placerat. Morbi varius tempor odio, id vehicula nunc aliquet ac.
        aside.col-12.col-md-6
          img.icon(src="images/rocket.svg" alt="Rocket Launch")
          h5 Dolor Sit Amet
          p Donec dapibus auctor tellus, tincidunt consectetur nisl porta non. Sed vel ullamcorper neque. Sed eros sem, consectetur vitae nunc ut, accumsan ultricies tellus. Suspendisse tristique mi nec quam posuere aliquet. 

    // Text block
    section#story
      .container
        .row.justify-content-center
          .col-12.col-md-6
            h2 <span>Nullam</span><br> orttitor eget
            p.lead Sed tristique luctus sem, vitae pellentesque ex vehicula sed. Curabitur viverra volutpat lobortis.
            p Nullam a massa eget turpis posuere convallis. Maecenas nunc tortor, venenatis ut pellentesque eget, ullamcorper eget nisl. Nullam blandit cursus fringilla. Morbi dolor dolor, molestie eget elementum quis, egestas vitae sem.
            p Cras porttitor lorem eget justo vestibulum, finibus cursus urna sagittis. Proin enim lectus, euismod ut mattis quis, ornare eu lacus. Suspendisse lobortis lobortis enim, a elementum diam facilisis ut.
            p Sed eu purus neque. Nunc sed interdum nisl. Aenean sagittis neque ac ante bibendum elementum. Aliquam eget laoreet sem, ac varius mi. Donec sollicitudin neque bibendum tortor dignissim rutrum.
            p Suspendisse potenti. Aliquam euismod sapien in tellus luctus pellentesque et a turpis. Donec dignissim risus fermentum dolor scelerisque pulvinar. Suspendisse vel laoreet odio, dapibus porttitor libero.

    // Swticher
    section#switcher
      .container-fluid: .row
        aside.col-12.col-md-2
          .row.align-items-center
            a(data-key="first").col.col-md-12.active
              img.icon.icon-mini(src="images/switcher/1.svg" alt="Questions")
              p Questions?
            a(data-key="second").col.col-md-12
              img.icon.icon-mini(src="images/switcher/2.svg" alt="Send out")
              p Send out
            a(data-key="third").col.col-md-12
              img.icon.icon-mini(src="images/switcher/3.svg" alt="Among mountains")
              p Among the mountains
            a(data-key="fourth").col.col-md-12
              img.icon.icon-mini(src="images/switcher/4.svg" alt="Reflection")
              p Reflection
        figure.fullheight.col-md-5
        main.col-md-5
          .row.fullheight.align-items-center
            article.col-12
              h3 ...
              p Loading...
    
    // Features
    section#features
      .container
        .row
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/1.svg" alt="Don't drink and drive")
            p Etiam bibendum lorem sed mi posuere, quis malesuada odio tincidunt
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/2.svg" alt="NFC")
            p Aenean sagittis neque ac ante bibendum elementum
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/3.svg" alt="No guns allowed")
            p Aliquam eget laoreet sem, ac varius mi
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/4.svg" alt="Satellites are watching you")
            p Maecenas tempor diam velit, quis ultricies nulla placerat in
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/5.svg" alt="So it's impossible to be anonymous")
            p Suspendisse vel laoreet odio, dapibus porttitor libero
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/6.svg" alt="Approved by the government")
            p Proin enim lectus, euismod ut mattis quis, ornare eu lacus
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/7.svg" alt="Wear a helmet")
            p Maecenas nunc tortor, venenatis ut pellentesque eget, ullamcorper eget nisl
          .col-6.col-sm-4.col-md-3
            img.icon.icon-mini(src="images/features/8.svg" alt="While working in bed")
            p Aenean quam elit, tempor et sollicitudin at, dignissim
    

    script(src="js/jquery.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/main.js")